html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.orange {
  color: #ed6334;
}

.teal {
  color: #1ea8b4;
}

.background-teal {
  background-color: #1ea8b4;
}

.background-orange {
  background-color: #ed6334;
}

.darkGrey {
  color: #001D41;
}

.list-group {
  background-color: none;
  display: block;
  color: #9B9B9B;
}

.menu-item {
  background-color: none;
  display: block;
  font-size: 1.2em;
  width: 110%;
  padding: 10%;
  margin-left: 0%;
  color: #bdf5e5;
}

.menu-item:hover {
  text-decoration: none;
}

label {
  padding-top: 3%;
}

input {
  padding: 1%;
}

.logoHeader {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: .8em;
  width: 30%;
  display: inline;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
}

.navbar-header {
  width: 50%;
}

.navbar-default {
  background-color: #fff;
  margin: 0;
}

.main-pane {
  margin: 3%;
  background-color: #fff;
  display: inline-block;
  width: 93%;
  height: 100%;
  min-height: 90vh;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.inner-div {
  margin-left: 3%;
  margin-right: 3%;
}

.pageTitle {
  display: inline-block;
  font-size: 2.5em;
  padding-top: 1%;
}

.sideMenu {
  background-color: #333333;
  height: 100vh;
  /* percent relative to viewport height */
  margin-top: -50px;
  padding-top: 50px;
  float: left;
  overflow: hidden;
}

.top {
  z-index: 10;
}

.content {
  height: 100vh;
  /* percent relative to viewport height */
  float: left;
  overflow-y: scroll;
  overflow: scroll;
}

.list-group-item {
  border: 0;
}

.navbar-brand {
  width: auto;
  padding: 0;
  padding-left: 15px;
}

.container-db {
  width: 100%;
  margin: 0;
  padding: 0;
}

.outerDiv {
  background-color: #EFF8F8;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#page {
  background-color: #fff;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 5%;
  overflow: scroll;
}

.scrollable {
  overflow: scroll;
}

.center {
  margin: 0 auto;
}

.imgSize {
  padding-top: 3%;
  max-width: 300px;
  height: auto;
}

.menu-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1ea8b4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.menu-item:hover, .menu-item:focus, .menu-item:active {
  color: white;
}

.menu-item:hover:before, .menu-item:focus:before, .menu-item:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

body {
  background: #eee !important;
}

.outerwrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.formsignin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .form-signin-heading, .checkbox {
    margin-bottom: 30px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
      z-index: 2;
    }
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

input[type="submit"] {
  opacity: 1;
  margin-top: 5%;
  margin-bottom: 5%;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.box {
  float: left;
  width: 100%;
  background-color: #ed6334;
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.surveyTitle {
  color: white;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  padding-top: 50%;
}
